.DS_Store
*.pyc
*.pkl
experiment/legal-bert-base-uncased/*
experiment/legal-bert-small-uncased/*
experiment/ledgar-code/distilbert.pt
experiment/data/*.jsonl
workspace.code-workspace
experiment/lmtc/data/*
.gitignore
experiment/cuad/full_contract_txt/*
experiment/cuad/*.json
yolo3/yolo-coco/yolov3.weights
